body
{
  color: orange;
  background: aqua;
}
.heading
{
  width: 80%;
  font-size: 30px;
  background-color: aqua;
  border: none  ;
}
#camera
{
  border: 2px dashed black;
  width: 350px;
  height: 300px;
}
.name_of_objects, #result_object_name, #result_obect_accuracy
{
    color: black;
}
